
@{ 
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
  
    <div class="table_playlist">
        <h2>@ViewBag.PlayListName</h2>



      
           <table class="table table-dark" id="playlisttable">
                <thead>
                <th></th>
                <th scope="col">Title</th>
                <th scope="col">Artist</th>
                <th scope="col">Album</th>
                <th scope="col">Genre</th>
                <th scope="col">Liked</th>

                </thead>

                <tbody class="playlistTablebody">
                    @foreach (var playListSong in ViewBag.PlayListSong)
                    {
                        <tr onclick="">
                            <th scope="col"></th>
                            <th>@playListSong.Song.Title</th>
                            <th>@playListSong.Song.Artist.Name </th>
                            <th>@playListSong.Song.Title</th>
                            <th>@playListSong.Song.Title</th>
                            <th><i class="far fa-heart"></i></th>


                        </tr>
                    }

                </tbody>

            </table>
                
        </div>
<style>
   
</style>
     
    



